
.conteiner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    column-gap: 2rem;
    row-gap: 2rem;
}
.line-1{
border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    height: 72px;

}
.line-2{
    border-right: 1px solid #FFFFFF;
    padding-right: 35px;
    height: 72px;
    padding-top: 50px;
}
.line-3{
    border-right: 1px solid #FFFFFF;
    padding-right: 35px;
    height: 72px;
    padding-top: 50px;
}
.line-4{
    border-right: 1px solid #FFFFFF;
    padding-right: 35px;
    height: 72px;
    padding-top: 50px;
}
.colortext{
    color: #4BCAFF;
    }

.logo{
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 30px;
    text-decoration: none;
}
.menu-up{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #35444F;
    border: #35444F;
    width: 1279px;
    height: 69px;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;


}
div.left-menu{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border: #35444F;
    border: 1px solid #000;
    width: 230px;
    height: 200px;
    color: #485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    gap: 40px;
    padding: 44px 26px 124px 30px;
    margin: 1px 1px;
    margin-top: -130px;
    padding-top: 20px;

}
.img{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: #35444F;
    border: 1px solid #000;
    width: 820px;
    height: 500px;
    padding: 1px 1px;
    margin: 1px 1px;
}

.text-aside{
    display: flex;
    flex-direction: column;
    padding-left: 325px ;
    margin: auto;
    width: 955.87px;
    height: 85px;


}
.menu-down{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-left: 65px;
    margin: 0;
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    color: black;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}
.cop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 135px;
    padding-right: 15px;
    margin: 0;
    color: #010101;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}
.Back-Why-ramba{
    font-weight:bold;
    width: 226px;
    height: 27px;
    background-position: center;
    background: white;
    padding-top: 5px;
    padding-right: 29px;
    padding-left: 1px;
    padding-bottom: 5px;
    cursor: pointer;
    margin: 0 auto;
    transition: transform .2s;

}
.Back-Why-ramba:hover{
    background-color: #DBDBDB;
    transform: scale(1.5);
}
.button{
    color: #3181A6;
    text-decoration: none;
    border-bottom: 1px solid #3181A6;
    transition: transform .2s;
.button:hover{
    background-color: #0d7fbe;
    transform: scale(1.5);
}
}


